body {
    background-image: url("sources/pics/homeBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.hide{
    display: none;
}
header{
    /* background-color: black; */
    height: 400px;
    text-align: center;
}

.logo a{
    background-image: url("sources/pics/profile.png");
    background-size: 150px;
    display: inline-block;
    height: 150px;
    position: relative;
    text-indent: -99999px;
    top: -60px;
    width: 150px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.desktop li{
    display: inline-block;
    margin: 0px 90px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 10px;
    padding-top: 80px;    
}
a{
    text-decoration: none;
}
.mobile li{
    display: none;
    /* border: black solid; */
    margin: 20% -10px 0px;
    padding: 5px;
    font-size: 30px;
}
.mob-nav{
    letter-spacing: 20px;
    background-color: rgba(0, 0, 0, 0.486);
    width: 120px;
    /* padding: 0px 4px; */
    border-radius: 18px;
    text-indent: 20px;
}
.mob-nav a{
    color: rgba(255, 255, 255, 0.85);
}
.mob-logo{
    background-image: url("sources/pics/profile.png");
    background-size: 110px;
    height: 100px;
    width: 100px;
    position: relative;
    top: -30px;
    text-indent: -999999px;
}
/* RESPONSIVE RULES */
@media screen and (max-width: 865px){
    .desktop{
        display: none;
    }
    .mobile li{
        display: inline-block;
    }
}
section{
    /* background-color: brown; */
    display: flex;
    margin-bottom: 100px;
}
div{
    /* background-color: violet; */
    margin: auto;
    width: 100px;
}
footer{
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
}
