body{
    background-color: blanchedalmond;
    color: #e96113;
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 20px;
}
section{
    background-color: brown;
    display: flex;
}
div{
    background-color: violet;
    margin: auto;
    width: 100px;
}
footer{
    background-color: blue;
}